@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');


h1 {
  font-size: 2.2rem;
  color: lighten($black, 25);
}

#header {
  height: $headerHeight;
}

.container {
  height: $containerHeight;
}

#header{

  @include setFontFaceSize($copperPlate, 40px);
  @include setHeightWidth(60px, 100%);
  text-align: center;
  padding-top: 15px;
  color: $blue;
  text-shadow:1px 1px $darkGrey;

}

nav {
  @include setFontFaceSize($rockwell, inherit);
  @include forModalTransition(4s);
  display: block;
  width: $hundredPerc;
  color: $grey;
  background: $darkGrey;
  font-weight: bold;
  z-index: 10;


}

nav ul {
  @include forModalTransition(4s);
  text-align: center;
  margin: 0;
}

nav ul li {
  @include forModalTransition(4s);
  display: inline-block;
  padding: 0 3em 0 3em;
  line-height: 3em;
  font-size: larger;
}

nav ul li {
  @include forModalTransition(4s);
  a {
    color: $grey;
    background: $darkGrey;
    font-weight: bold;
  }

  a:link {
    @include noDecorationForAnchor(none);
  }

  a:visited {
    @include noDecorationForAnchor(none);
  }

  a:hover {
    @include noDecorationForAnchor(none);
  }

  a:active {
    @include noDecorationForAnchor(none);
  }
}

nav ul li:hover {
  background: $highlightedNav;
}

.fixed {
  position: fixed;
  top: 0px;
}

#ulNav{
  @include forModalTransition(4s);
}

.shrunkli{
  display: inline-block;
  padding: 0 2em 0 2em;
  line-height: 2em;
  @include setFontFaceSize(inherit, medium);

}

#home{
  @include setHeight(500px, 40px);
  position: relative;
}

#homeWrapper{
  @include setFontFaceSize($copperPlate, inherit);
  @include setHeightWidth(80%, 100%);
  position: absolute;
  top: 40px;
  padding-top: 30px;
  background-image: url("../modal/backgroundImg.jpg");
  background-attachment: fixed;
  z-index: -99;
  text-align: center;
  line-height: 20px;
}

#about{
  @include setHeight(500px, 90px);

}


#modalDiv{
  @include setHeight(500px, 90px);
  @include setHeightWidth(500px, 100%);
  background-color:$prussianBlue;
  text-align: center;

}

#ModalHeader{
  color: $modalHeaderColor;
  @include setFontFaceSize($rockwell, 24px);
}

.modalImagesClass{
  @include setHeightWidth(150px, 150px);
  border-radius: 10px;
  margin: 10px;
}

.highlightNav{
  background: $highlightedNav;
}

#div1{
  @include makeCarouselDivs(10%, 9%, 0%);

}

#div2{
  @include makeCarouselDivs(59%, 0%, 0%)
}


#div3{
  @include makeCarouselDivs(10%, 0%, 9%);
}

#leftClick{
  margin-bottom: 135px;
}

#rightClick{
  margin-bottom: 135px;
}

#carouselDiv{
  @include setHeightWidth(400px, 600px);
}

#carouselImg{
  @include setHeightWidth(100%, 100%);
  z-index: -9;
}

#innerDiv{

  margin-left: auto;
  margin-right: auto;
}

.wrapperModalHidden{
  display: none;
}


.modalHolderHidden{
  display: none;
}

.modalHolder{

  @include setHeightWidth(80%, 70%);
  @include forModalTransition(0.5s);

  background-color: transparent;
  border-radius: 25px;
  margin-left: 14%;
  margin-right: 14%;
  text-align: center;
  position: relative;
  padding: 17px;

}

#modalButton {
  margin-left: 45%;
  width: 10%;
}

#modalHolderid{
  @include forModalTransition(0.5s);
}

#modalImage{
  @include setHeightWidth(100%, 100%);
  border-radius: 25px;
  display: compact;
}

#modalButtonHide{
  position: absolute;
  @include setHeightWidth(50px, 50px);
  top: 0;
  right: 0;
}

#videoPanel{
  position: relative;
  padding-top: 50px;
  background-color: #dddddd;
  padding-bottom: 50px;
}

#myVideo{
  position: relative;
  @include setHeightWidth(100%, 100%);
}

#socialWrapper{

  @include setFontFaceSize($rockwell, 48px);
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  color: $facebookBlue;
  padding-bottom: 300px;


  a:link {
    @include noDecorationForAnchor(none);
  }

  a:visited {
    @include noDecorationForAnchor(none);
  }

  a:hover {
    @include noDecorationForAnchor(none);
  }

  a:active {
    @include noDecorationForAnchor(none);
  }
}

.imageSpan{
  padding-left: 20px;
  padding-right: 20px;
}

#vColumns{
  height: 300px;
  padding-top: 70px;
  width: 100%;
  @include setFontFaceSize($copperPlate, inherit);
}

#col1{
  @include columnAlign(33%);

}

#col2{
 @include columnAlign(34%);
}


#col3{
  @include columnAlign(33%);

}

.columnsClass{

}

.innerText{
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;

}


#footer{
  @include setFontFaceSize($copperPlate, 13px);
  @include setHeight(80px, inherit);
  text-align: center;
  background-color: $footerColor;
  margin-top: 30px;
  color: $white;
}

#videoDiv{
  @include setFontFaceSize($copperPlate, 30px);
  text-shadow:3px 3px #0d3349;
  position: absolute;
  z-index: 5;
  text-align: center;
  top: 30%;
  left: 30%;
  width: 40%;
  color: #ffffff;
}
