

@mixin setHeight($height, $paddingTop) {
    height: $height;
  padding-top: $paddingTop;
}

@mixin makeCarouselDivs($width, $left, $right){

  display: inline-block;
  width: $width;
  padding-left: $left;
  padding-right:$right;
}

@mixin forModalTransition ($duration){

  @include transition-duration($duration);
  @include transition-property(width);
  @include transition-property(height);

}

@mixin anchorProperties(){
  a:link {
    @include noDecorationForAnchor(none);
  }

  a:visited {
    @include noDecorationForAnchor(none);
  }

  a:hover {
    @include noDecorationForAnchor(none);
  }

  a:active {
    @include noDecorationForAnchor(none);
  }
}

@mixin setHeightWidth($height, $width){
  height: $height;
  width: $width;
}

@mixin noDecorationForAnchor($value){
  text-decoration: $value;
}

@mixin columnAlign($width){

  float: left;
  width: $width;
  text-align: center;
}

@mixin setFontFaceSize($face, $size){
  font-family: $face;
  font-size: $size;
}

@mixin centeredBlueTest{
  @include setFontFaceSize($rockwell, 48px);
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  color: $facebookBlue;
  padding-bottom: 300px;

  @include anchorProperties();

}

@mixin alignTextCenter{
  text-align: center;
}